<nav class="{% if page.ref == "index" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.ref != "index" %}
        <li class="item">
            {% if page.lang == "es" %}
            <a class="link" href="{{ site.url }}/">Inicio</a>
            {% endif %}
            {% if page.lang == "en" %}
            <a class="link" href="{{ site.url }}/">Home</a>
            {% endif %}
        </li>
        {% endif %} 
        {% if site.blog == true %} {% if page.ref != "blog" %}
       
        {% endif %} {% endif %} 
        {% if site.fuentes == true %} {% if page.ref != "fuentes" %}
      
        {% endif %} {% endif %} 
        {% if site.about == true %} {% if page.ref != "about" %}
        <li class="item">
            {% if page.lang == "es" %}
            <a class="link" href="{{ site.url }}/sobre">Sobre el Proyecto</a>
            {% endif %}
            {% if page.lang == "en" %}
            <a class="link" href="{{ site.url }}/sobre">Sobre el Proyecto</a>
            {% endif %}
        </li>

         <li class="item">
            {% if page.lang == "es" %}
            <a class="link" href="{{ site.url }}/blog">Lista de Reportes</a>
            {% endif %}
            {% if page.lang == "en" %}
            <a class="link" href="{{ site.url }}/blog">Lista de Reportes</a>
            {% endif %}
        </li>

        {% endif %} {% endif %}

    </ul>
</nav>

